<%= turbo_frame_tag :cards_container do %>
  <div class="card-columns" data-controller="collapsible-columns" data-collapsible-columns-collapsed-class="is-collapsed">

    <div class="card-columns__left">
      <%= render "collections/show/not_now", collection: collection %>
    </div>

    <%= render "collections/show/stream", collection: collection, page: page %>

    <div class="card-columns__right">
      <%= render partial: "collections/show/column", collection: collection.columns, cached: true %>
      <%= render "collections/show/closed", collection: collection %>

      <%= render  "collections/show/menu/columns", collection: collection %>
    </div>
  </div>
<% end %>
