<section id="<%= defined?(stage) && stage ? "doing-cards-#{stage.id}" : "doing-cards" %>"
    class="cards cards--doing is-collapsed" style="--card-color: <%= stage.color if defined?(stage) && stage %>"
    data-collapsible-columns-target="column"
    data-drag-and-drop-target="container"
    data-drop-target="doing"
    data-stage-id="<%= stage.id if defined?(stage) && stage %>">
  <%
    filtered_records = if defined?(stage) && stage
      page.records.select { |card| card.stage == stage }
    else
      page.records
    end
  %>

  <%= cards_expander "#{stage.name if defined?(stage) && stage}", filtered_records.count %>

  <% if filtered_records.any? %>
    <%= render partial: "cards/display/preview", collection: filtered_records, as: :card, locals: { draggable: true }, cached: ->(card) { cacheable_preview_parts_for(card) } %>

    <% unless page.last? %>
      <div class="full-width">
        <%= cards_next_page_link "doing-cards", page: page, filter: filter %>
      </div>
    <% end %>
  <% else %>
    <% if user_filtering.any? %>
      <p class="txt-normal translucent blank-slate">No matches</p>
    <% else %>
      <div class="card blank-slate blank-slate--card">
        <p class="txt-align-center txt-normal">Drag cards here</p>
      </div>
    <% end %>
  <% end %>
</section>
